.bfp-message{
    display: none;
}

#bfp-coupon-module .bfp-form-coupon-container .bfp-form-coupon .bfp-btn-confirm.button_redeem a{
    background-color: #fff;
    color: #f26e22;
    border: 1px solid #f26e22;
    margin: 0 auto;
}
.bfp-btn-home a{
    height: 40px;
    line-height: 40px;
    font-size: 13px;
    font-weight: 400;
    text-align: center;
    border-radius: 30px;
    color: #fff;
    background-color: #f26e22;
    margin: 10px auto;
    width: 250px;
    display: flex;
    justify-content: center;
    align-items: center;
}

#bfp-coupon-module .bfp-form-coupon-container .bfp-section-title{
    text-align: center;
    margin: 15px auto;
}