.bfp-txt{
    text-align: center;
}
.bfp-txt .bfp-message {
    color: #9b9b9b;
    width: auto;
    margin: 20px auto;
}

.bfp-txt p {
    width: 90%;
    margin: 5px auto;
    font-size: 1.4rem!important;
}

#bfp-slogan .bfp-message{
    display: none;
}

@media only screen and (min-width: 600px){
#bfp-coupon-module .bfp-logo-container figure img {
    max-width: 65%;
}
}