<!--Module Coupon-->

<h3 class="bfp-section-title">HAI VINTO UN ALBERO?</h3>
<div class="bfp-form-coupon">
  <div class="bfp-submit-coupon">
    <input
      type="text"
      name="redeem_coupon"
      placeholder="Inserisci qui il tuo coupon"
    />
  </div>
  <div class="bfp-btn-confirm button_redeem">
    <a href="#">Conferma</a>
  </div>
</div>
<p id="coupon_error_text" style="display: none; text-align: center;">
  <span style="color: #ff6600;">Coupon non trovato o già utilizzato</span>
</p>
<div class="bfp-instruction-container">
  <div class="bfp-instruction">
    <p>1. Inserisci il tuo coupon</p>
  </div>
  <div class="bfp-instruction">
    <p>2. Conferma e crea il tuo account</p>
  </div>
  <div class="bfp-instruction">
    <p>3. Segui la coltivazione</p>
  </div>
</div>
<h3 class="bfp-section-title">OPPURE</h3>
<div class="bfp-btn-home">
    <a href="http://www.biorfarm.com" target="_self">Adotta/regala il tuo primo albero!</a>
  </div>
<div class="bfp-instruction-container">
    <div class="bfp-instruction">
      <p>1. Scegli il tuo albero</p>
    </div>
    <div class="bfp-instruction">
      <p>2. Scegli quanta frutta ricevere.</p>
    </div>
    <div class="bfp-instruction">
      <p>3. Inserisci il coupon mumbio10</p>
    </div>
  </div>