.bfp-message{
    display: none;
}

#bfp-coupon-module .bfp-logo-container figure img {
    max-width: 100%;
}

@media only screen and (min-width: 1024px){
    #bfp-coupon-module .bfp-logo-container figure img {
        max-width: 80%;
    }
}