.bfp-message{
    display: none;
}

@media only screen and (min-width: 600px){
#bfp-coupon-module .bfp-logo-container figure img {
    margin: 5px auto;
    max-width: 50%!important;
}
}

@media only screen and (min-width: 1024px){
#bfp-coupon-module .bfp-logo-container figure img {
    max-width: 50%!important;
    position: relative;
    right: -20%;
}
}